body {
    font-family: 'Segoe UI';
    background-color: #e8b1e0; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor general */
.contenedor {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
}

/* Título */
.titulo {
    color: #7b5e99; 
}

/* Caja de registro */
.registro {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    text-align: left;
}

.registro label {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.registro input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
    outline: none;
}

.registro button {
    margin-top: 15px;
    padding: 10px;
    background-color: #a4d4ae;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.registro button:hover {
    background-color: #8fc89a;
}

/* Overlay del modal */
.overlay {
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

/* Modal */
.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    width: 320px;
    text-align: center;
}

.overlay.visible {
    display: flex;
}

.modal button {
    margin-top: 15px;
    padding: 10px;
    background-color: #f7b267; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.modal button:hover {
    background-color: #f4973f;
}


